.Box{
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
    padding: 100px;
margin: 50px 25px;
}

.green{
    margin: 20px 60px;
background-color: greenyellow;
padding: 100px;
}
